# Temporary files
*~

# Report files
report.html
report.pdf

# Python files
__pycache__/
*.pyc
*.pyo

# Unnecessary documentation files
docs/source/api/
docs/build/

# Secret files
*.key

# Profiling files
*.profile
*.calltree

run/
